body {
    width: 100vw;
    height: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #0a0a0a;
    color: #FFFCF2;
    position: relative;
}

.music-bar {
    height: 10vh;
    width: 100vw;
    background-color: #181716;
    position: absolute;
    bottom: 0vh;
    overflow: hidden;
}

.time-bar {
    height: 5px;
    width: 90vw;
    position: fixed;
    bottom: 14px;
    left: 5vw;
    background-color: #e36868;
    cursor: pointer;
    border-radius: 2.5px;
}

.current-time-bar {
    height: 5px;
    width: 0vw;
    border-radius: 2.5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d62828;
}

.current-time {
    width: 20px;
    height: 20px;
    background-color: #FFFCF2;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.logo {
    width: 18px;
    height: auto;
    position: absolute;
    top: 3px;
    left: 1px;
}

.buttons {
    position: absolute;
    top: 20px; 
}

.buttons > li {
    display:block;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.buttons > li > img {
    height: 30px;
    width: auto;
    margin: 0;
    padding: 0;
    filter: invert(97%) sepia(1%) saturate(1627%) hue-rotate(353deg) brightness(97%) contrast(111%);
}

@keyframes openBar{
    from{
        bottom: -8vh;
    }
    to{
        bottom: 0vh;
    }
}

@keyframes closeBar{
    from{
        bottom: 0vh;
    }
    to{
        bottom: -8vh;
    }
}